<div class="jumbotron">
 <h1>Azure Media Streaming Example with Azure AD</h1>
 <p class="lead">This sample app shows how to protect Azure Media Streams via Azure AD</p>
 {{#if user}}
   <h4>Welcome {{ user.displayName }}!</h4>
   <p>Click on <a href="/video" >Video</a> at the navigation bar to get started.</p>
 {{else}}
   <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
 {{/if}}
</div>